body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

#pokemonImage {
    width: 300px;
    height: 300px;
    transition: opacity 1s;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
}

#pokemonImage.inverted {
    filter: invert(100%);
    position: relative;
    z-index:99;
}
h1{
    line-height: 30px;
}
#subMessage{
    font-size: 14px;
    opacity: 0;
}
#fortuneBtn {
    background-color: #007BFF; /* 青色 */
    color: #FFFFFF; /* テキストは白色 */
    padding: 10px 20px; /* 内側の余白 */
    border: none; /* 枠線なし */
    border-radius: 5px; /* 角を少し丸く */
    cursor: pointer; /* ホバー時にカーソルを手の形に */
    transition: background-color 0.3s, transform 0.2s; /* 背景色と拡大縮小のアニメーション */
    font-size: 16px; /* フォントサイズを少し大きく */
}

#fortuneBtn:hover {
    background-color: #0056b3; /* ホバー時は少し濃い青色に */
}

#fortuneBtn:active {
    transform: scale(0.95); /* アクティブ(クリック)時に少し縮小 */
}

#fortuneBtn[disabled] {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

button[disabled] {
    background-color: #ccc;
}
